### 24-02-2022

#### 1.	Create a file calc.py which has following functions
#### a.	Function to find the factorial of a number
#### b.	Function to convert degree to Fahrenheit
#### Write a new program in file “maths.py” such that you import functions of the file calc.py to your new program. 
#### Use from <module> import <functions> statement to import the functions from the calc module

In [8]:
# trying to create py file from jupyter notebook.
%%writefile test.py
import numpy as np
import pandas as pd
print(f"numby version:{np.__version__}")
print(f"panda version:{pd.__version__}")

Overwriting test.py

In [11]:
# file is created from the jupyter notebook file location.
%run -i test.py

numby version:1.20.3
panda version:1.3.4

In [2]:
%%writefile calc.py
def Fact_number(n):
    if n == 1:
        return n
    else:
        return (n * Fact_number(n-1))
    
def Deg_to_Fahreheit(C):
    F = (C * 9/5) + 32
    return (f"{F} °F")

Overwriting calc.py

In [53]:
%%writefile maths.py
import calc
n= int(input())
print(f"Factorial of {n} is {calc.Fact_number(n)}")
C = int(input())
print(f"{C}°C is convert to {calc.Deg_to_Fahreheit(C)}")

Overwriting maths.py

In [54]:
%run -i maths.py

4
Factorial of 4 is 24
10
10°C is convert to 50.0 °F

### 2.	Implement a simple generator for Fibonacci series

In [16]:
def Fibonacci_generator(n):
    # Taking 1st two fibonacci numbers as 0 and 1
    f = [0, 1]
    for i in range(2, n+1):
        f.append(f[i-1] + f[i-2])
    #return 
    yield f[n]

In [19]:
n= int(input())
fin_no = Fibonacci_generator(n)
next(fin_no)

9

34

In [20]:
next(fin_no)

StopIteration:

#### 3.	Write an iterator class to iterate over a sequence of values in the reverse direction

In [48]:
my_list = [2, 9, 8, 3]
my_list.reverse()
print(my_list)

my_iter = iter(my_list)

for i in range(len(my_list)):
    print(next(my_iter))

[3, 8, 9, 2]
3
8
9
2

#### 4.	Write a function “salary” that takes in base pay, HRA and special allowance as arguments and returns the sum of all the 3 salary elements. Then create a decorator function to add an additional element “Tax” (30% of base pay) and assign it back to base pay variable, and return the function (i.e., the final calculation of salary also includes tax)

In [70]:
def Sal_reduction(func,tax=30):
    def Sal_red(base_pay,HRA,SA):
        sal = base_pay+HRA+SA
        final_pay = sal - sal*(tax/100)
        print(f"Net Salary is: {final_pay}") # Decorator 
        return func(base_pay,HRA,SA)
    return Sal_red

In [71]:
@Sal_reduction
def Salary(base_pay,HRA,SA):
    gr_sal =float(base_pay+HRA+SA)  
    return (f"Gross Salary: {gr_sal}")

In [72]:
Salary(20000,10000,5000)

Net Salary is: 24500.0

'Gross Salary: 35000.0'

#### 5.	Write 3 examples on possible methods to changing a tuple

In [58]:
# Method1 : tuple can allow multiple datatypes so if tuple have list method then we can change
# example1
tup1= (1,2,[3,4])
tup1[2][0] = 5
tup1[2][1] = 6
print(tup1)

(1, 2, [5, 6])

In [66]:
# Method2 : Tuple unpcking
#example
tuple1 = 3, 5.5, 'nine'
a,b,c = tuple1
c = 9
tuple1 = a,b,c
print(tuple1)

(3, 5.5, 9)

In [67]:
# Method3: Enumaerate:
#example:
x1 = ['Data', 'Functions', 'Stats']
list(enumerate(x1))

[(0, 'Data'), (1, 'Functions'), (2, 'Stats')]

In [69]:
# using this option we enumerate the index value as per user own.
x1 = ['Data', 'Functions', 'Stats']
list(enumerate(x1, 200))

[(200, 'Data'), (201, 'Functions'), (202, 'Stats')]

## 15-02-2022

#### 1.	Get the input for 2 variables though “input” function and pass them to a function to return the addition of two variables

In [23]:
def addition():    
    '''Sum of two inputs'''
    return int(input('Enter Input1: ')) + int(input('Enter Input2: '))

In [24]:
addition()

Enter Input1: 10
Enter Input2: 20

30

#### 2.	What happens if we try to add an int with str and vice versa. Please print out the error

In [27]:
inp1 = input('Enter Input1: ')
inp2 = input('Enter Input2: ')
print(int(inp1) + inp2)

Enter Input1: 10
Enter Input2: jhasd

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
inp1 = input('Enter Input1: ')
inp2 = input('Enter Input2: ')
print(inp2 + int(inp1))

Enter Input1: 10
Enter Input2: jadhj

TypeError: can only concatenate str (not "int") to str

#### 3.	Create a string variable for the word “Data Science” and see if the letter “s” is present in it using membership operators

In [33]:
str1 = 'Data Science'
print('s' in str1)

False

In [34]:
str1 = 'Data Science'
print('s'.upper() in str1)

True

#### 4.	Write a function and pass a number list as an argument to the function. And return True if the first and last number of a given list is same. If numbers are different then return False

In [35]:
def FunMatchFirstwithLastnumber(list1):
    '''Match the first and last number'''
    return list1[0] == list1[-1]

In [38]:
FunMatchFirstwithLastnumber([10,20,30,40])

False

In [39]:
FunMatchFirstwithLastnumber([10,20,30,10])

True

#### 5.	Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])

In [41]:
l1 = [10, 20, 33, 46, 55]
for i in l1:
     if i % 5 == 0: # condition check whether list value is divisable by 5 if divisable then print the result. 
            print(i)

10
20
55

### 6.	Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.
#### a.	Hint: Separate return values with a comma

In [45]:
def Calculation(inp1,inp2):
    '''Return the Addition and subtraction value in same return statement'''
    x = inp1 + inp2
    y = inp1 - inp2
    return x, y

In [47]:
Calculation(20,10)

(30, 10)

#### 7.	Write a program to demonstrate the following Syntax error
### a.	SyntaxError: non-default argument follows default argument

In [48]:
def Function1(inp1='default',inp2)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_9892/4124842449.py, line 1)

#### 8.	What’s recursion? Explain in your own words and write a program to create a recursive function to calculate the sum of numbers from 0 to 10

#### Explanation:
#### Recursion function that calls itself during the execution and it will provide the result of the function. We can use that result as per our own.

In [2]:
def Sumofvalue(n):
    '''calculate the sum of value using resursion'''
    if n == 1:
        return n
    else:
        return (n + Sumofvalue(n-1))

In [3]:
Sumofvalue(10)

55

#### 9.	Use filter and lambda function to calculate square for below numbers only if they are odd number
#### a.	[12, 11, 53, 22, 21, 77, 87, 88, 98]

In [75]:
org_list = [12, 11, 53, 22, 21, 77, 87, 88, 98]
list1 = list(filter(lambda x : x % 2 != 0, org_list))
list2= list(map(lambda x: x**2,list1))
print(list2)

[121, 2809, 441, 5929, 7569]

#### 10.	 Write a function (not a lambda function) and use it to demonstrate an example for map function (any logical function of your choice)

In [72]:
def LogicalFunction(inp1,inp2):
    '''Check the input 1 and input2, if matched then print 1 input else print input 1 and 2 '''
    if inp1 == inp2:
        return inp1
    else:
        return inp1,inp2

In [70]:
inp1 = [10, 20, 30, 40]
inp2 = [10, 20, 30, 40]
mapp = list(map(LogicalFunction,inp1,inp2))
print (mapp)

[10, 20, 30, 40]

In [73]:
inp1 = [10, 20, 30, 50]
inp2 = [10, 20, 30, 40]
mapp = list(map(LogicalFunction,inp1,inp2))
print (mapp)

[10, 20, 30, (50, 40)]

## 09-02-2022

## 1.	Import the necessary package to
#### a.	Set the current working directory
#### b.	Change the working directory

In [ ]:
# Import the OS package
import os

In [ ]:
# To know the current working directory
os.getcwd()

In [ ]:
# To chnage the working Directory
os.chdir('D:/Datascience/inceptez')

In [ ]:
os.getcwd()

In [ ]:
os.chdir('D:/Datascience/inceptez/Assignment Work')

In [ ]:
os.getcwd()

## 2.	Create the string, int and float variable and delete them all in the next cell

In [ ]:
# Assign string,int & float into list
list_a = ['rajkumar',1,10.5]
print(list_a)
# Assign empty index value in the list 
list_a = []
print(list_a)

In [ ]:
# Assign string,int & float into list
list_a = ['rajkumar',1,10.5]
print(list_a)
# Assign the index value from the list 
del list_a[:]
print(list_a)

In [ ]:
# Assign string,int & float into list
list_a = ['rajkumar',1,10.5]
print(list_a)
# Clear the list
list_a.clear()
print(list_a)

## 3.	What’s the result of assigning a value to a ‘keyword’?

In [5]:
break = 'rajkumar'
print(break)

SyntaxError: invalid syntax (Temp/ipykernel_12240/2208804787.py, line 1)

## 4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [1]:
# this approah is for align the multi-line statement with newline charcter
var_name1 = '''aa
bb
cc'''
print(var_name1)

aa
bb
cc

In [3]:
# this approch is for align the multi-line staement in single line 
var_name1 = ('aa'
'bb'
'cc')
print(var_name1)

aabbcc

In [5]:
var_name1 = 'aa\
bb\
cc'
print(var_name1)

aabbcc

## 5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [9]:
list(range(100,999,8))

[100,
 108,
 116,
 124,
 132,
 140,
 148,
 156,
 164,
 172,
 180,
 188,
 196,
 204,
 212,
 220,
 228,
 236,
 244,
 252,
 260,
 268,
 276,
 284,
 292,
 300,
 308,
 316,
 324,
 332,
 340,
 348,
 356,
 364,
 372,
 380,
 388,
 396,
 404,
 412,
 420,
 428,
 436,
 444,
 452,
 460,
 468,
 476,
 484,
 492,
 500,
 508,
 516,
 524,
 532,
 540,
 548,
 556,
 564,
 572,
 580,
 588,
 596,
 604,
 612,
 620,
 628,
 636,
 644,
 652,
 660,
 668,
 676,
 684,
 692,
 700,
 708,
 716,
 724,
 732,
 740,
 748,
 756,
 764,
 772,
 780,
 788,
 796,
 804,
 812,
 820,
 828,
 836,
 844,
 852,
 860,
 868,
 876,
 884,
 892,
 900,
 908,
 916,
 924,
 932,
 940,
 948,
 956,
 964,
 972,
 980,
 988,
 996]

In [7]:
for i in range(100,999,8):
    print(i)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

## 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [61]:
n = [10,20,30,40,50,60]
l_n = round(len(n) / 2)
new_list = n[:l_n]
#print(l_n)
for i in new_list:
    print(i)

10
20
30

## 7.	Write a simple function and call the docstring from outside the function

In [65]:
def Square_Val(a):
    '''This function is used to square the input value'''
    return a * a

In [68]:
print(Square_Val.__doc__)
Square_Val(10)

This function is used to square the input value

100

## 8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last
### <<Formula to calculate semi-perimeter: s = (a+b+c )/2>>
#### <<Formula to calculatearea = (s*(s-a)*(s-b)*(s-c)) ** 0.5>>
#### a.	15
#### b.	51
#### c.	17

In [69]:
from my_sample_pkg import testpackage

In [147]:
a = testpackage.a
b = testpackage.b
c = testpackage.c
def Calc_Area_Triangle():
    '''Calculate the Semi-Perimeter s=(a+b+c)/2 and Calculate the Area a = (s(s-a)(s-b)(s-c)) * 0.5'''    
    s= float((a + b + c)/2)
    area = (s*(s-a)*(s-b)*(s-c)) * 0.5
    return s,area

In [148]:
Calc_Area_Triangle()

(41.5, -127983.40625)

## 9.	Write a list comprehension to print the odd numbers from 0 to 100

In [155]:
[a for a in range(0,100) if a % 2 == 1]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

## 10.	 Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)

In [159]:
name = 'rajkumar'
[a for a in name if a not in ('a','e','i','o','u')]

['r', 'j', 'k', 'm', 'r']