## 1.	Import the necessary package to
#### a.	Set the current working directory
#### b.	Change the working directory

In [ ]:
# Import the OS package
import os

In [ ]:
# To know the current working directory
os.getcwd()

In [ ]:
# To chnage the working Directory
os.chdir('D:/Datascience/inceptez')

In [ ]:
os.getcwd()

In [ ]:
os.chdir('D:/Datascience/inceptez/Assignment Work')

In [ ]:
os.getcwd()

## 2.	Create the string, int and float variable and delete them all in the next cell

In [ ]:
# Assign string,int & float into list
list_a = ['rajkumar',1,10.5]
print(list_a)
# Assign empty index value in the list 
list_a = []
print(list_a)

In [ ]:
# Assign string,int & float into list
list_a = ['rajkumar',1,10.5]
print(list_a)
# Assign the index value from the list 
del list_a[:]
print(list_a)

In [ ]:
# Assign string,int & float into list
list_a = ['rajkumar',1,10.5]
print(list_a)
# Clear the list
list_a.clear()
print(list_a)

## 3.	What’s the result of assigning a value to a ‘keyword’?

In [5]:
break = 'rajkumar'
print(break)

SyntaxError: invalid syntax (Temp/ipykernel_12240/2208804787.py, line 1)

## 4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [1]:
# this approah is for align the multi-line statement with newline charcter
var_name1 = '''aa
bb
cc'''
print(var_name1)

aa
bb
cc

In [3]:
# this approch is for align the multi-line staement in single line 
var_name1 = ('aa'
'bb'
'cc')
print(var_name1)

aabbcc

In [5]:
var_name1 = 'aa\
bb\
cc'
print(var_name1)

aabbcc

## 5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [9]:
list(range(100,999,8))

[100,
 108,
 116,
 124,
 132,
 140,
 148,
 156,
 164,
 172,
 180,
 188,
 196,
 204,
 212,
 220,
 228,
 236,
 244,
 252,
 260,
 268,
 276,
 284,
 292,
 300,
 308,
 316,
 324,
 332,
 340,
 348,
 356,
 364,
 372,
 380,
 388,
 396,
 404,
 412,
 420,
 428,
 436,
 444,
 452,
 460,
 468,
 476,
 484,
 492,
 500,
 508,
 516,
 524,
 532,
 540,
 548,
 556,
 564,
 572,
 580,
 588,
 596,
 604,
 612,
 620,
 628,
 636,
 644,
 652,
 660,
 668,
 676,
 684,
 692,
 700,
 708,
 716,
 724,
 732,
 740,
 748,
 756,
 764,
 772,
 780,
 788,
 796,
 804,
 812,
 820,
 828,
 836,
 844,
 852,
 860,
 868,
 876,
 884,
 892,
 900,
 908,
 916,
 924,
 932,
 940,
 948,
 956,
 964,
 972,
 980,
 988,
 996]

In [7]:
for i in range(100,999,8):
    print(i)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

## 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [57]:
n = [10,20,30,40,50,60]
l_n = round(len(n) / 2)
new_list = n[:l_n]
#print(l_n)
for i in new_list:
    print(i)

10
20
30

## 7.	Write a simple function and call the docstring from outside the function

In [65]:
def Square_Val(a):
    '''This function is used to square the input value'''
    return a * a

In [68]:
print(Square_Val.__doc__)
Square_Val(10)

This function is used to square the input value

100

## 8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last
### <<Formula to calculate semi-perimeter: s = (a+b+c )/2>>
#### <<Formula to calculatearea = (s*(s-a)*(s-b)*(s-c)) ** 0.5>>
#### a.	15
#### b.	51
#### c.	17

In [69]:
from my_sample_pkg import testpackage

In [147]:
a = testpackage.a
b = testpackage.b
c = testpackage.c
def Calc_Area_Triangle():
    '''Calculate the Semi-Perimeter s=(a+b+c)/2 and Calculate the Area a = (s(s-a)(s-b)(s-c)) * 0.5'''    
    s= float((a + b + c)/2)
    area = (s*(s-a)*(s-b)*(s-c)) * 0.5
    return s,area

In [148]:
Calc_Area_Triangle()

(41.5, -127983.40625)

## 9.	Write a list comprehension to print the odd numbers from 0 to 100

In [155]:
[a for a in range(0,100) if a % 2 == 1]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

## 10.	 Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)

In [159]:
name = 'rajkumar'
[a for a in name if a not in ('a','e','i','o','u')]

['r', 'j', 'k', 'm', 'r']