In [18]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error
import seaborn as sns

In [131]:
bike_share=pd.read_csv(r'D:\Datascience\inceptez\Preprocessing\bike_share.csv')

In [132]:
bike_share

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [133]:
bike_share.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  int64
 1   holiday     10886 non-null  int64
 2   workingday  10886 non-null  int64
 3   weather     10886 non-null  int64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  int64
 7   windspeed   10886 non-null  float64
 8   casual      10886 non-null  int64
 9   registered  10886 non-null  int64
 10  count       10886 non-null  int64
dtypes: float64(3), int64(8)
memory usage: 935.6 KB

In [15]:
bike_share.describe().T

,count,mean,std,min,25%,50%,75%,max
season,10886.0,2.506614,1.116174,1.00,2.0000,3.000,4.0000,4.0000
holiday,10886.0,0.028569,0.166599,0.00,0.0000,0.000,0.0000,1.0000
workingday,10886.0,0.680875,0.466159,0.00,0.0000,1.000,1.0000,1.0000
weather,10886.0,1.418427,0.633839,1.00,1.0000,1.000,2.0000,4.0000
temp,10886.0,20.230860,7.791590,0.82,13.9400,20.500,26.2400,41.0000
atemp,10886.0,23.655084,8.474601,0.76,16.6650,24.240,31.0600,45.4550
humidity,10886.0,61.886460,19.245033,0.00,47.0000,62.000,77.0000,100.0000
windspeed,10886.0,12.799395,8.164537,0.00,7.0015,12.998,16.9979,56.9969
casual,10886.0,36.021955,49.960477,0.00,4.0000,17.000,49.0000,367.0000
registered,10886.0,155.552177,151.039033,0.00,36.0000,118.000,222.0000,886.0000
count,10886.0,191.574132,181.144454,1.00,42.0000,145.000,284.0000,977.0000

In [134]:
bike_share.duplicated().sum()

21

In [135]:
bike_share.describe().T

,count,mean,std,min,25%,50%,75%,max
season,10886.0,2.506614,1.116174,1.00,2.0000,3.000,4.0000,4.0000
holiday,10886.0,0.028569,0.166599,0.00,0.0000,0.000,0.0000,1.0000
workingday,10886.0,0.680875,0.466159,0.00,0.0000,1.000,1.0000,1.0000
weather,10886.0,1.418427,0.633839,1.00,1.0000,1.000,2.0000,4.0000
temp,10886.0,20.230860,7.791590,0.82,13.9400,20.500,26.2400,41.0000
atemp,10886.0,23.655084,8.474601,0.76,16.6650,24.240,31.0600,45.4550
humidity,10886.0,61.886460,19.245033,0.00,47.0000,62.000,77.0000,100.0000
windspeed,10886.0,12.799395,8.164537,0.00,7.0015,12.998,16.9979,56.9969
casual,10886.0,36.021955,49.960477,0.00,4.0000,17.000,49.0000,367.0000
registered,10886.0,155.552177,151.039033,0.00,36.0000,118.000,222.0000,886.0000
count,10886.0,191.574132,181.144454,1.00,42.0000,145.000,284.0000,977.0000

In [80]:
#bike_share['temp_label']= np.where(bike_share['temp']<=20.500,0,1)

In [82]:
#bike_share['humidity_label']= np.where(bike_share['humidity']<=62.000,0,1)

In [85]:
#bike_share['atemp_label']= np.where(bike_share['atemp']<=24.240,0,1)

In [87]:
#bike_share['windspeed_label']= np.where(bike_share['windspeed']<=12.998,0,1)

In [89]:
#bike_share['windspeed_label'].value_counts()

0    6404
1    4440
Name: windspeed_label, dtype: int64

In [136]:
x=bike_share.drop(columns = ['count','registered','casual'])

In [137]:
y=bike_share['count']  #'temp','atemp','humidity','windspeed'

In [138]:
x

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,1,0,0,1,9.84,14.395,81,0.0000
1,1,0,0,1,9.02,13.635,80,0.0000
2,1,0,0,1,9.02,13.635,80,0.0000
3,1,0,0,1,9.84,14.395,75,0.0000
4,1,0,0,1,9.84,14.395,75,0.0000
...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027
10882,4,0,1,1,14.76,17.425,57,15.0013
10883,4,0,1,1,13.94,15.910,61,15.0013
10884,4,0,1,1,13.94,17.425,61,6.0032
10885,4,0,1,1,13.12,16.665,66,8.9981

In [139]:
y

0         16
1         40
2         32
3         13
4          1
        ...
10881    336
10882    241
10883    168
10884    129
10885     88
Name: count, Length: 10886, dtype: int64

In [96]:
#train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=.2,random_state=2)

In [140]:
model = LinearRegression()

In [141]:
model.fit(x,y)

LinearRegression()

In [142]:
model.coef_

array([22.75882041, -9.15872365, -1.14953067,  5.93871831,  1.84736842,
        5.63120253, -3.05683516,  0.77761604])

In [143]:
model.intercept_

135.7905239266373

In [144]:
y_pred = model.predict(x)

In [145]:
y_pred

array([ 16.12367993,  13.38595907,  13.38595907, ..., 172.15804766,
       173.69225257, 154.94240301])

In [146]:
mse = mean_squared_error(y, y_pred)

In [147]:
mse

24249.682532430237

In [150]:
rmse = np.sqrt(mean_squared_error(y, y_pred))

In [152]:
rmse

155.7230956937032

In [153]:
model.score(x,y)

0.26091247700872666